node_modules
.output
.nuxt
.nitro
dist
coverage
*.log
.DS_Store
.nuxtrc

# Environment variables
.env
.env.*
!.env.sample
!.env.example

# Secrets & Credentials
id.json
*credentials*.json
*service-account*.json
*.key
*.pem

